@use "./mixins" as *;

.header--content {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 10px 30px;

  .header--title {
    font-size: 35px;
  }

  @include tablet {
    .header--title {
      font-size: 25px;
    }
  }

  @include mobile {
    .header--title {
      font-size: 15px;
    }
  }
}